<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymagicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateAccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".UpdateUserInfoActivity" />
        <activity android:name=".TypeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".AccountDescription" />
        <activity android:name=".AddAccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".AccountActivity" />
        <activity android:name=".RegistrationActivity" />
    </application>

</manifest>